#pokemon-details {
    height: 85vh;
    overflow: scroll;
}

.pokemon-details {
    padding: 20px;
    background-image: url("https://wallpapercave.com/wp/wp3284113.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

    .pokemon-type {
        display: inline-block;
        padding: 5px;
        margin: 1px;

        img {
            width: 20px;
        }
    }
}
